
*{margin: 0;
 padding: 0 ;
 background-color: lightgray;
 }

 li { display: inline; 
      margin: 0 20 px ;
    }
.logo { 
    width: 90px ;
    position: absolute;
    margin-top: 20px;
    left: 10px;
    border-radius: 5px;
   
}

section div{ width: 100%;}
header{
    background-image: url(../images/fondopedregoso.JPG);
}

main nav{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}

fieldset nav ul {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    padding: 25px;
    align-items: flex-end;     
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    
}
.buscador{ 
    margin-top: 60px;
    margin-left: 40%;
    display: block;
}
nav{ display: inline;
    text-align:end ;
    height: 100px;
    background-color: lightgray;
    }

main p {
    justify-self: center;
}
foo{height: 50vph ;}
.carousel.inner{ height: 50vph;}


.cards:hover {
transform: translate3d(3px);            
        }   
    

ul{ text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 20px ;
}


a{ text-decoration: none;
color: darkblue;
margin: 0px;}

header { background-image: url(../images/fondopedregoso.JPG ) ;
    font-size: 20 rem; 
        height: 200px;
        

}

body{
    background-color: lightgray;
}


.footer { 
        padding: 50px; 
        margin: 0 20px;
        text-align: left;
    }
footer p { background:  transparent;}
footer form{  background:transparent;
               }

footer div { background: transparent;
    
}

    #hero{
        display: grid;
        grid-template-areas: "pase pase pase"


}



@media screen and (min-width: 768px){

    #hero{  grid-template-areas: "pase pase pase";}
    
                                }        
@media screen and( max-width: 425px) {
    #hero{  grid-template-areas: "pase"
                                 "pase"
                                "pase";
            background-color: yellow;
    
}
    

}
